#######################################
# Node.js / React / Vite
#######################################

node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

#######################################
# Python / Flask
#######################################

venv/
.venv/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/

#######################################
# Environment Variables
#######################################

.env
.env.*
!.env.example

#######################################
# IDEs
#######################################

.vscode/
.idea/

#######################################
# OS Files
#######################################

.DS_Store
Thumbs.db

#######################################
# Logs
#######################################

*.log

#######################################
# Build Files
#######################################

build/
coverage/

#######################################
# Flask
#######################################

instance/

#######################################
# Temporary Files
#######################################

tempCodeRunnerFile.py